section {
  width: 100%;
  height: 530px;
  background: #ccc;
  margin: 0;
  padding: 0;
}

.slide-show-container {
  height: 100%;
  width: 100%;
  position: relative;
}

/* CSS Styles in common for all slides */
.wrapper-one,
.wrapper-two,
.wrapper-three {
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

.wrapper-one,
.wrapper-two,
.wrapper-three,
h4 {
  text-align: center;
  color: darkgoldenrod;
}

/* CSS Styles for each slide */
/* Just add the image as background attribute and add some animation */

.wrapper-one {
  background-image: url("../image/investmenthero.jpg");
}

.wrapper-two {
  background-image: url("../image/investmentbanner2.jpg");
  animation: slideTwoAnim 10s infinite;
}

.wrapper-three {
  background-image: url("../image/investmenthero.jpg");
  animation: slideThreeAnim 10s infinite;
}

/* Styles for the text */
.wrapper-text {
  font: 700 40px/1.4 Roboto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 260px;
  color: darkgoldenrod;
}

/* Animations */
@keyframes slideTwoAnim {
  0% {
    opacity: 0;
  }

  17% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  67% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slideThreeAnim {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  67% {
    opacity: 1;
  }

  83% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}









/*** investment mutual fund banner start ***/
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 90px 0 75px 0;
  margin-top: 1rem;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box h2 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000000;
  line-height: 70px;
}

.slider_section .detail-box h2 span {
  color: #f49f00;
}

.slider_section .detail-box p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 12px 45px;
  background-color: #f49f00;
  border: 1px solid #f49f00;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 700;
}

.btn1 {
  color: black;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #f49f00;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #f49f00;
}

.slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.slider_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top right;
  object-position: top right;
}

/* investment mutual fund banner end */

/* Benefits of Investing in Mutual Funds start */

.section-header h2 {
  margin: 0 auto;
  color: #f49f00;
  margin-top: 2rem;
}

.section-header p {
  margin: 6px auto 0;
}

.section-header {
  margin-bottom: 2rem;
}
a .heading{
color: #f49f00;
}

.card {
  background: ghostwhite;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  border: 0;
  border-radius: 1rem
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px)
}

.card h5 {
  overflow: hidden;
  /* height: 56px; */
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
}

.card-img-top {
  width: 100%;
  max-height: 180px;
  object-fit: contain;
  padding: 30px
}

.card h2 {
  font-size: 1rem
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

@media (max-width: 768px) {
  .card-img-top {
    max-height: 250px
  }
}
/* Benefits of Investing in Mutual Funds end */

/* Registration Start */

.mb-4{
  color: #f49f00;
}
.btn:hover{
  color: #f49f00;
}
.card-header{
  background-color: #000000;
}
.card-header h1{
color: #f49f00;
}
.card-body1{
  background-color: #f49f00;
}
/* Registration end */

/* bitcoin start */


.hero-section-bitcoin {
	height: 427px;
	/* padding-top: 27px; */
	display: block;
	background-image: url("../img/hero-bg.png");
	background-size: cover;
	background-color: #ccc;
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.hero-section-bitcoin .laptop-image {
	width: 500px;
	max-width: none;
	position: relative;
	left: 80px;
}

.hero-text-bitcoin {
	padding-top: 60px;
}

.hero-text-bitcoin h2 {
	font-size: 70px;
	margin-bottom: 35px;
}

.hero-text-bitcoin h2 span {
	color: #f49f00;
}

.hero-text-bitcoin h4 {
	color: #111111;
	font-size: 20px;
}
.site-btn{
  margin-top: 1rem;
  color: #000000;
}

/*------------------
	Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

@media (max-width: 1585px) {
	.hero-section-bitcoin .laptop-image {
		left: 0;
	}
}

@media (max-width: 1425px) {
	.hero-section-bitcoin,
	.page-info-section {
		background-position: right 30% top;
	}
	.hero-section-bitcoin .laptop-image {
		width: auto;
		max-width: 100%;
		top: 70px;
	}
	.about-img {
		left: -50px;
		width: 600px;
	}
}


/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.hero-section-bitcoin,
	.page-info-section {
		background-position: right 23% top;
	}
	.about-img {
		left: 0px;
		width: 480px;
	}
	
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.hero-section-bitcoin {
		background-position: right 25% top;
		height: 730px;
		padding-top: 160px;
	}
	.page-info-section {
		background-position: right 33% top;
	}
	.page-info-section h2 {
		font-size: 40px;
	}
	.hero-text-bitcoin h2 {
		font-size: 45px;
	}
	.about-img {
		position: relative;
		display: block;
		left: 0;
		width: auto;
		margin-top: 50px;
	}
	
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	
	.hero-text-bitcoin h2 {
		font-size: 40px;
	}
	.hero-section-bitcoin {
		height: auto;
		padding-bottom: 100px;
		padding-top: 160px;
		background-position: right 50% top;
	}
	
	.about-img {
		position: relative;
		display: block;
		left: 0;
		width: auto;
		margin-top: 50px;
	}
	
}
/* bitcoin end */
/*---------------------
  About Section
-----------------------*/

.more-info {
	margin-top: 140px;
}

.more-info .left-image img {
	width: 100%;
	overflow: hidden;
}

.more-info .more-info-content {
	background-color: #f7f7f7;
}

.about-info .more-info-content {
	background-color: transparent;
}

.about-info .right-content {
	padding: 0px!important;
	margin-right: 30px;
}

.more-info .right-content {
	padding: 45px 45px 45px 30px;
}

.more-info .right-content span {
	text-transform: uppercase;
	font-size: 15px;
	color: #666;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
}

.more-info .right-content h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 35px;
}

.more-info .right-content em {
	font-style: normal;
	color: #f5b400;
}

.more-info .right-content p {
	margin-bottom: 30px;
}

/* about section end */

/* request for call start */
.callback-heading{
text-align: center;
color: #f49f00;
}
.section-heading , span{
  text-align: center;
}
.callback-services {
	border-top: 1px solid #eee;
	padding-top: 140px;
}

.contact-us {
	background-color: #f7f7f7;
	padding: 140px 0px;
}

.contact-us .contact-form {
	background-color: transparent!important;
	padding: 0!important;
}

.callback-form {
	margin-top: 140px;
  margin-bottom: 2rem;
}

.callback-form .contact-form {
	background-color: rgb(5, 5, 5);
	padding: 60px;
	border-radius: 5px;
	text-align: center;
}

.callback-form .contact-form input {
	border-radius: 20px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	padding: 0px 15px;
	color: #6a6a6a;
	font-size: 13px;
	text-transform: none;
	box-shadow: none;
	border: none;
	margin-bottom: 35px;
}

.callback-form .contact-form input:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

.callback-form .contact-form textarea {
	border-radius: 20px;
	height: 120px;
	max-height: 200px;
	min-height: 120px;
	display: inline-block;
	padding: 15px;
	color: #6a6a6a;
	font-size: 13px;
	text-transform: none;
	box-shadow: none;
	border: none;
	margin-bottom: 35px;
}

.callback-form .contact-form textarea:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

.callback-form .contact-form ::-webkit-input-placeholder { /* Edge */
  color: #aaa;
}
.callback-form .contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa;
}
.callback-form .contact-form ::placeholder {
  color: #aaa;
}

.callback-form .contact-form button.border-button {
	background-color: black;
	color: #fff;
	border: 2px solid #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 28px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
	outline: none;
	box-shadow: none;
	text-shadow: none;
	cursor: pointer;
}

.callback-form .contact-form button.border-button:hover {
	background-color: rgb(114, 93, 36);
	color: #f49f00;
}

.contact-us .contact-form button.filled-button {
	background-color: #a4c639;
	color: #fff;
	border: none;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 30px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
	outline: none;
	box-shadow: none;
	text-shadow: none;
	cursor: pointer;
}

.contact-us .contact-form button.filled-button:hover {
	background-color: #fff;
	color: #a4c639;
}
 /* request for call end  */

 /* invest in crypto start */
 .marketing_section1 {
  width: 100%;
  float: left;
}
.right-content h2{
  margin-bottom: 2rem;
}
.right-content em{
  color: #fcae07;
}
.investbtn{
  margin-top: 6rem;
}
.layout_padding1 {
  padding-top: 90px;
  padding-bottom: 20px;
}
.image_1 {
  width: 100%;
  float: left;
}
.padding_0 {
  padding: 0px;
}
.job_section_2 {
  width: 70%;
  float: left;
  margin-left: 5rem;
}
.jobs_text {
  width: 100%;
  float: left;
  font-size: 46px;
  color: #252525;
}
.jobs_text span{
  color: #f49f00;
}
.dummy_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #252525;
  margin-left: 0px;
}
.apply_bt {
  width: 45%;
  float: left;
  margin-top: 50px;
}
.apply_bt a {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 10px 0px;
  background-color: rgb(244, 159, 0);
}
/* invest in crypto end */

/*---------------------
	Process Section
-----------------------*/
.section1{
  margin-bottom: 20rem;
  margin-top: 2rem;
}
.process:last-child .process-step:after {
	display: none;
}

.process-step {
	position: relative;
	text-align: center;
	padding: 35px;
	margin-top: 30px;
	-webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
	        box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
}

.process-step .process-icon {
	height: 55px;
	margin-bottom: 30px;
	padding-top: 5px;
}

.process-step h4 {
	margin-bottom: 15px;
}

.process-step p {
	margin-bottom: 0;
}




.appointment {
  background: linear-gradient(to right, rgba(230, 190, 53, 1) , rgba(0, 0, 0, 1) );
  background-size: cover;
}

/* breacker 1 start */
.header-bottom-section {
  background-color: #494848;
  padding: 20px 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.single-header-bottom {
  color: #fff;
}
.single-header-bottom .content p{
margin-bottom:5px;
}

.single-header-bottom .icon {
  float: left;
  margin-right: 20px;
  width: 35px;
}

.single-header-bottom .content {
  padding-left: 55px;
  font-size: 20px;
  font-family: 'Muli', sans-serif;
  font-weight: 600
}
/* breacker 1 end */

/* breacker 2 start */
.cool-facts-area {
  padding: 100px 0 70px;

}

.single_cool_fact {
  position: relative;
  z-index: 1;
  background: #fff;
  border: 1px solid #eb9a05;
  border-bottom: 3px solid #eb9a05;
  border-radius: 0 0 20px 20px;
  padding: 30px;
  overflow: hidden;
  margin-bottom: 30px;
}


.cool_fact_icon i {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .1;
  color: #242020;
  font-weight: 800;
}

.cool_fact_detail h3 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 0 !important;
  margin-top: 15px;
  color: #0a0a0a !important;
}

.cool_fact_detail h2 {
  font-size: 14px;
  margin-bottom: 0;
  color: #0c0c0c !important;
  text-transform: uppercase;
}
/* breacker 2 end */

/* navbar scroll action start */
.active1 {
	
	background: snow;
	border-bottom: 1px solid black;
  }
  .active1 .scrol_menu{
	color: #080808 !important;
  }
   .main-menu li a .scrol_menu:hover{
	color: #D1B000;
  }

/* navbar scroll action end */